body{
    font-family: 'Poppins', sans-serif;
}
.moments-section p{
    font-size: 15px;
}
body{
    background-color: E5E5E5;
}
.choose-plan{
    background-color:hsl(327, 100%, 98%);
    
}
.col{
    border-radius: 30px;
    margin-left: 9px;
    padding: 30px;
    width: 275px;
    height: 480px;
}
.bg-primary-light{
    background: rgba(63, 135, 245, 1);
    position: relative;
    top: -50px;
}
.package>.row>.bg-white{
    font-size: 15px;
}
.our{
    margin-bottom: 134px;
}
.line i{
    color: #c0baba;
}
.my-badge{
    position: relative;
    top: -36px;
    left: 173px;
    padding: 0px 9px;
}
.images-convention{
    width: 50%;
}
footer{
    background-color:rgba(11, 13, 23, 1);
    color: white;
}
footer>p {
    font-size: 13px;
    padding-top: 200px;
    padding-left: 200px;
}
.apple{
    width: 187px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 6px;
}
.apple i{
    font-size: 40px;
}
.apple a{
    text-decoration: none;
    color: white;
}
.apple>div>a>p{
    font-size: 13px;
    line-height: 0px;
    padding-left: 10px;
    padding-top: 8px;
}



.google-play {
    width: 187px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px;
}
.google-play  i{
    font-size: 40px;
    color: #f2cdaa;
}
.google-play>div>a>p{
    font-size: 13px;
    line-height: 0px;
    padding-left: 10px;
    padding-top: 8px;
}
.google-play a{
    text-decoration: none;
    color: white;
}
.footer-class{
    margin-left: 1118px;
    margin-top: -110px;
}